module znc 1.0;

# Declaration	
require {
attribute kernel_system_state_reader, userdom_filetrans_type, corenet_unlabeled_type, userdom_home_manager_type, netlabel_peer_type, ubac_constrained_type, application_domain_type, nsswitch_domain, kerberos_keytab_domain, domain, file_type, exec_type, entry_type, non_security_file_type, application_exec_type, non_auth_file_type, user_home_content_type, polymember, user_home_type;
			
role unconfined_r; type unconfined_t;
class process transition;
class file { write entrypoint setattr };
class file read;
class chr_file { read write };
			
}

type znc_t;
typeattribute znc_t kernel_system_state_reader;
typeattribute znc_t userdom_filetrans_type;
typeattribute znc_t corenet_unlabeled_type;
typeattribute znc_t userdom_home_manager_type;
typeattribute znc_t netlabel_peer_type;
typeattribute znc_t ubac_constrained_type;
typeattribute znc_t application_domain_type;
typeattribute znc_t nsswitch_domain;
typeattribute znc_t kerberos_keytab_domain;
typeattribute znc_t domain;



type znc_exec_t;

typeattribute znc_exec_t file_type;
typeattribute znc_exec_t exec_type;
typeattribute znc_exec_t entry_type;
typeattribute znc_exec_t non_security_file_type;
typeattribute znc_exec_t application_exec_type;
typeattribute znc_exec_t non_auth_file_type;

type znc_home_t;

typeattribute znc_home_t file_type;
typeattribute znc_home_t user_home_content_type;
typeattribute znc_home_t non_security_file_type;
typeattribute znc_home_t polymember;
typeattribute znc_home_t ubac_constrained_type;
typeattribute znc_home_t non_auth_file_type;
typeattribute znc_home_t user_home_type;

role unconfined_r types znc_t; 
permissive znc_t;

# Policy

type_transition unconfined_t znc_exec_t:process znc_t;
allow unconfined_t znc_t:process transition;
allow znc_t znc_exec_t:file entrypoint;




# audit2allow
require {
        type user_devpts_t;
        type urandom_device_t;
        type znc_t;
        type random_device_t;
        type znc_exec_t;
        class file read;
        class chr_file { read write ioctl getattr };
}

#============= znc_t ==============

#!!!! This avc is allowed in the current policy
allow znc_t random_device_t:chr_file read;

#!!!! This avc can be allowed using one of the these booleans:
#     authlogin_nsswitch_use_ldap, global_ssp
allow znc_t urandom_device_t:chr_file getattr;

#!!!! This avc is allowed in the current policy
allow znc_t urandom_device_t:chr_file read;

#!!!! This avc is allowed in the current policy
allow znc_t user_devpts_t:chr_file { read write ioctl getattr };

#!!!! This avc is allowed in the current policy
allow znc_t znc_exec_t:file read;

