policy_module(exim, 1.0.3)

#########################
#	Declaration	#
#			#
#			#

# Define Role
attribute_role	exim_roles;

# Assign Role
roleattribute	system_r exim_roles;

# Define Type
type exim_t;
type exim_exec_t;

# Map application_domain with type
application_domain(exim_t, exim_exec_t)

# Assign role with type
role exim_roles types exim_t;

# Rum in Permissive mode
#permissive exim_t;

# Log type
type exim_log_t;
logging_log_file(exim_log_t)

# Systemd type
type exim_unit_file_t;
systemd_unit_file(exim_unit_file_t)
# Port type
type exim_port_t;
corenet_port(exim_port_t)

########################################
##
## exim local policy
##
#


allow exim_t self:capability { setgid setuid sys_chroot };
allow exim_t self:process { fork setrlimit signal_perms };

allow exim_t self:fifo_file manage_fifo_file_perms;
#allow exim_t self:unix_stream_socket create_stream_socket_perms;

allow exim_t exim_port_t:tcp_socket name_connect;

domain_use_interactive_fds(exim_t)

files_read_etc_files(exim_t)

auth_use_nsswitch(exim_t)

logging_send_syslog_msg(exim_t)

miscfiles_read_localization(exim_t)

sysnet_dns_name_resolve(exim_t)


optional_policy(`
        gen_require(`
                type unconfined_t;
                role unconfined_r;
        ')

        exim_run(unconfined_t, unconfined_r)
')





