## <summary>policy for exim</summary>

########################################
## <summary>
##      Execute TEMPLATE in the exim domin.
## </summary>
## <param name="domain">
## <summary>
##      Domain allowed to transition.
## </summary>
## </param>
#

#interface(`exim_domtrans',`
#        gen_require(`
#                type exim_t, exim_exec_t;
#        ')

#        corecmd_search_bin($1)
#        domtrans_pattern($1, exim_exec_t, exim_t)
#')

########################################
### <summary>
###      Read exim's log files.
### </summary>
### <param name="domain">
###      <summary>
###      Domain allowed access.
###      </summary>
### </param>
### <rolecap/>
##
#interface(`exim_read_log',`
 #       gen_require(`
  #                type exim_log_t;
   #    ')
#
 #      logging_search_logs($1)
  #     read_files_pattern($1, exim_log_t, exim_log_t)
#')

