
## <summary>policy for cantata</summary>

########################################
## <summary>
##	Execute TEMPLATE in the cantata domin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cantata_domtrans',`
	gen_require(`
		type cantata_t, cantata_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cantata_exec_t, cantata_t)
')

########################################
## <summary>
##	Execute cantata in the cantata domain, and
##	allow the specified role the cantata domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the cantata domain.
##	</summary>
## </param>
#
interface(`cantata_run',`
	gen_require(`
		type cantata_t;
		attribute_role cantata_roles;
	')

	cantata_domtrans($1)
	roleattribute $2 cantata_roles;
')

########################################
## <summary>
##	Role access for cantata
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`cantata_role',`
	gen_require(`
		type cantata_t;
		attribute_role cantata_roles;
	')

	roleattribute $1 cantata_roles;

	cantata_domtrans($2)

	ps_process_pattern($2, cantata_t)
	allow $2 cantata_t:process { signull signal sigkill };
')
