policy_module(cantata, 1.0.0)

########################################
#
# Declarations
#

attribute_role cantata_roles;
roleattribute system_r cantata_roles;

type cantata_t;
type cantata_exec_t;
application_domain(cantata_t, cantata_exec_t)
role cantata_roles types cantata_t;

permissive cantata_t;

########################################
#
# cantata local policy
#
allow cantata_t self:capability { chown };
allow cantata_t self:process { signal_perms };

allow cantata_t self:fifo_file manage_fifo_file_perms;
allow cantata_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(cantata_t)

files_read_etc_files(cantata_t)

auth_use_nsswitch(cantata_t)

miscfiles_read_localization(cantata_t)

optional_policy(`
	gen_require(`
		type unconfined_t;
		role unconfined_r;
	')

	cantata_run(unconfined_t, unconfined_r)
')
